In [43]:
import string
import random
import numpy as np
import pandas as pd
import re

In [27]:
letters1 = list(string.ascii_lowercase)
letters2 = list(string.ascii_lowercase)
random.shuffle(letters2)

mapping = {}
for l1,l2 in zip(letters1,letters2):
    mapping[l1]=l2

In [48]:
M = np.ones((26,26)) #Markov transition matrix
pi = np.ones(26) #initial state distribution

def UpdateTransition(char1,char2):
    i = ord(char1) - 97
    j = ord(char2) - 97
    
    M[i,j] +=1
def UpdateInitialStateDist(char1):
    i = ord(char1) - 97
    pi[i] +=1
def GetWordProb(word):
    i = ord(word[0]) - 97
    logp = np.log(pi[i])
    
    for ch in word[1:]:
        j = ord(ch) - 97
        logp += M[i,j]
        
        i = j
    return logp
def GetSequenceOfProb(words):
    
    if type(words) == str:
        words = words.split()
    
    logp = 0
    for word in words:
        logp += GetWordProb(word)
        
    return logp

In [41]:
texts = pd.read_csv('moby_dick.txt',sep=r'\n',encoding='utf-8',header=None,engine='python')
texts.columns = ['Text']
texts

                                                    Text
0                                   CHAPTER 1. Loomings.
1      Call me Ishmael. Some years ago—never mind how...
2      little or no money in my purse, and nothing pa...
3      on shore, I thought I would sail about a littl...
4      of the world. It is a way I have of driving of...
...                                                  ...
18386  unharming sharks, they glided by as if with pa...
18387  the savage sea-hawks sailed with sheathed beak...
18388  sail drew near, nearer, and picked me up at la...
18389  devious-cruising Rachel, that in her retracing...
18390               children, only found another orphan.

[18391 rows x 1 columns]

In [50]:
regex = re.compile('[^a-zA-Z]')

for line in texts['Text']:
    line = line.rstrip()
    
    if line:
        line = regex.sub(' ',line)
        
        tokens = line.lower().split()
        
        for token in tokens:
            ch0 = token[0]
            UpdateInitialStateDist(ch0)
            
            for ch in token[1:]:
                UpdateTransition(ch0,ch)
                
                ch0 = ch
pi /= pi.sum()
M /= M.sum(axis=1,keepdims=True)

In [65]:
original_message = """From the earliest stone tools to the latest advances in artificial intelligence, robotics, blockchains 
and virtual reality, technology has continuously transformed our lives. Stay informed about the latest technological 
breakthroughs and the ethical and societal norms they challenge.
"""
orginal_message

'From the earliest stone tools to the latest advances in artificial intelligence, robotics, blockchains \nand virtual reality, technology has continuously transformed our lives. Stay informed about the latest technological \nbreakthroughs and the ethical and societal norms they challenge.\n'

In [79]:
def encode_msg(message):
#     message = message.strip()
    message = message.lower()
 
    message = regex.sub(' ',message)
 
    coded_msg = []
    for ch in message:
        coded_ch = ch
        
        if ch in mapping:
            
            coded_ch = mapping[ch]
        coded_msg.append(coded_ch)
  
    return ''.join(coded_msg)

In [80]:
encode_msg(original_message)

'qlvi pgy yrltjyhp hpvoy pvvth pv pgy trpyhp rzwrocyh jo rlpjqjcjrt jopyttjeyocy  lvkvpjch  ktvcucgrjoh  roz wjlpbrt lyrtjps  pycgovtves grh cvopjobvbhts plrohqvliyz vbl tjwyh  hprs joqvliyz rkvbp pgy trpyhp pycgovtvejcrt  klyrupglvbegh roz pgy ypgjcrt roz hvcjyprt ovlih pgys cgrttyoey  '